<meta name="viewport"
      content="width=device-width, user-scalable=no, maximum-scale=1, initial-scale=1, minimum-scale=1" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-reboot.min.css" />
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
    }
</style>